*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 98%);
}
.headings{
    text-align: center;
    padding: 5rem;
}
.reliable{
    font-family:'Poppins', sans-serif;
    font-weight: 200;
    font-size: 30px;
    color: hsl(229, 6%, 66%);
    font-size: xx-large;
}
.tech{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    font-size: xx-large;
    padding-top: 1rem;
}
p{
    color: hsl(229, 6%, 66%);
    font-size: large;
}
.supervisor{
    position: relative;
    width: 400px;
    height: 300px;
    padding: 2rem;
    border-top: 4px solid hsl(180, 62%, 55%);
    margin-left: 4rem;
    background-color: white;
    top: 30%;
    
}
.supervisor img{
    position: absolute;
    bottom: 2rem;
    right: 0;
}
.builder{
    position: relative;
    width: 400px;
    height: 300px;
    padding: 2rem;
    border-top: 4px solid hsl(0, 78%, 62%);
    margin-left: 4rem;
    background-color: white;
}
.builder img{
    position: absolute;
    bottom: 2rem;
    right: 0;
}
.karma{
    position: relative;
    width: 400px;
    height: 300px;
    padding: 2rem;
    border-top: 4px solid hsl(34, 97%, 64%);
    margin-left: 4rem;
    background-color: white;
}
.karma img{
    position: absolute;
    bottom: 2rem;
    right: 0;
}
.calculator{
    position: relative;
    width: 400px;
    height: 300px;
    padding: 2rem;
    border-top: 4px solid hsl(212, 86%, 64%);
    margin-right: 4rem;
    background-color: white;
    top:30% ;
}
.calculator img{
    position: absolute;
    bottom: 2rem;
    right: 0;
}
.fourGrids{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.twoGrids{
    position: relative;
    top: 10%;
    bottom: 10%;
    right: 5%;
}